/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing: border-box; 
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#f4eedb;
	--white: #ffff;
	--color-footer: #000;
	--lime: #dafd19;
	--menu-kleur: #faf8ef;
}





/****************/
/* BODY STYLING */
/****************/
body {
	background-color: var(--color-background);
	/* display: grid;
	grid-template-columns: repeat(20, minmax(0, 1fr)); */
	margin: 0;
/* linear gradient */
	background-image: url("../images/super-chill-gradient-portrait-576x1024.jpeg");
	background-repeat: no-repeat;
}

body.scrollLock {
	overflow: hidden;
}

/****************/
/*  NAVIGATIE   */
/****************/

header {
	background-color: var(--menu-kleur);
	box-shadow: 0 4px 16px 0 rgba(104,83,16,.12);
	display: flex;
	height: 100%;
	margin: 1em;
	justify-content: space-between;
	border-radius: 15px;
}

nav {
	background-color: var(--menu-kleur);
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

header > button {
	background-color: var(--white);
	width: 67px;
	height: 57px;
	margin: 1em;
	padding: 16px 19px;
	transform: translate(0px, 0px);
	z-index: 100;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

header > a {
	all: unset;
	display: flex;
}

header > a > img {
	width: 40%;
	object-fit: contain;
	margin-left: 1em;
}

nav li button {
	background-color: inherit;
	font-family: "mozaic-geo-variable", sans-serif;
	font-variation-settings: "wght" 500;
	text-transform: none;
	text-align: start;
	width: inherit;
	padding: 0;
}

nav a, nav button {
	background-color: inherit;
	color: var(--color-text);
	font-family: "mozaic-geo-variable", sans-serif;
	font-variation-settings: "wght" 500;
	text-transform: none;
	font-size: 1.4rem;
	padding: 0;
}

nav ul {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	gap: 1em;
}

header img {
	width: 30%;
	object-fit: contain;
	margin-left: 1em;
}

nav li:nth-of-type(2) {
	margin-top: 10rem;
}

header li:first-of-type a {
	background-color: var(--lime);
	color: var(--color-text);
    padding: 1.5em 2em;
	position: relative;
	top: 2em;
    font-family: "fatfrank", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
}

nav button i.fa-solid.fa-chevron-right {
	margin-left: 5em;
}

nav:nth-of-type(2) a {
	font-variation-settings: "wght" 200;
	font-size: 1.2rem;
}

nav:nth-of-type(2) li:first-of-type {
	margin-top: 2em;
}

nav:nth-of-type(2) li:nth-of-type(2) {
	margin-top: 3em;
}

.hamburger {
	width: 100%;
	height: 4px;
	background-color: var(--color-text);
	border-radius: 15px;
}

/********************/
/* FONTGROOTTE KNOP */
/********************/

nav:first-of-type li:last-of-type {
	display: flex;
	gap: 1em;
}

nav:first-of-type li:last-of-type button {
	width: 30px;
	height: auto;
	display: flex;
	justify-content: center;
    align-items: center;
}

nav:first-of-type li:last-of-type button:last-of-type {
	flex-direction: column;
	height: 50px;
}

nav:first-of-type li:last-of-type span {
	background-color: var(--color-text);
	height: 7px;
    width: 100%;
    border-radius: 15px;
}

nav:first-of-type li:last-of-type button:nth-of-type(2) span:last-of-type {
	transform: rotate(90deg) translate(-5px, 0px);
	position: relative;
}

nav:first-of-type li:last-of-type img {
	width: 50px;
	margin: 0;
}

/**********************/
/* HAMBURGER ANIMATIE */
/**********************/

/* Bron: https://stackoverflow.com/questions/70703929/hamburger-icon-css-animation-into-an-x */

.verander:first-of-type {
	transition: all 100ms ease-in-out;
	transform: translate(7px, 0px) rotate(45deg);
	transform-origin: top left;
}

.verander:nth-of-type(2) {
	transition: all 100ms ease-in-out;
	transform-origin: center;
	width: 0;
}

.verander:last-of-type {
	transition: all 100ms ease-in-out;
	transform: translate(7px, 0px) rotate(-45deg);
	transform-origin: bottom left;
}

/*********************/
/* HOOFDMENU FUNCTIE */
/*********************/

header nav {
	translate: 0% -150%;
	transition: .5s;
}

header nav:nth-of-type(2) {
	translate: 150% 0%;
	transition: .5s;
	position: fixed;
}

header nav.toonMenu {
	translate: 0% 0%;
}

/****************/
/* ILLUSTRATIES */
/****************/

div {
	background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(244, 238, 219, 1) 50%, rgba(244, 238, 219, 1) 100%);
	width: 100%;
	height: 300px;
	position: absolute;
    top: 52rem;
	z-index: -1;
}

section {
	margin: 0 1rem;
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr;
}

section:nth-of-type(2) div:first-of-type {
    position: absolute;
    width: 100px;
    height: auto;
    object-fit: contain;
    transform: scale(.5) translate(-60px, 3930px) rotate(30deg);
    background: none;
    top: 0;
}

section:nth-of-type(2) div:nth-of-type(2) {
    position: absolute;
    width: 100px;
    height: 300px;
    object-fit: contain;
    transform: scale(.5) translate(480px, 3930px) rotate(30deg);
    background: none;
    top: 0;
	overflow: hidden;
}

section:nth-of-type(2) div:nth-of-type(3) {
	position: absolute;
	width: 150px;
	height: auto;
	object-fit: contain;
	transform: translate(-150px, 1980px) rotate(30deg);
	background: none;
	top: 0;
}

section:nth-of-type(3) div:first-of-type {
	position: absolute;
	width: 50px;
	height: auto;
	object-fit: contain;
	transform: translate(0px, 2448px);
	background: none;
	top: 0;
}

section:nth-of-type(3) div:nth-of-type(2) {
	position: absolute;
	width: 50px;
	height: auto;
	object-fit: contain;
	transform: translate(-120px, 2500px) scaleX(-1) rotate(5deg);
	background: none;
	top: 0;
}

section:nth-of-type(3) div:last-of-type {
	position: absolute;
	width: 30px;
	height: auto;
	object-fit: contain;
	transform: translate(96px, 2538px) scaleX(-1);
	background: none;
	top: 0;
}

section:nth-of-type(8) div:first-of-type {
	position: absolute;
	width: 80px;
	height: auto;
	object-fit: contain;
	transform: translate(-150px, 6430px) rotate(30deg);
	background: none;
	top: 0;
	z-index: 100;
}

section:nth-of-type(8) div:nth-of-type(2) {
	position: absolute;
	width: 80px;
	height: auto;
	object-fit: contain;
	transform: translate(-215px, 6520px) rotate(30deg);
	background: none;
	top: 0;
}

section:nth-of-type(8) div:last-of-type {
	position: absolute;
	width: 50px;
	height: auto;
	object-fit: contain;
	transform: translate(145px, 6520px) rotate(30deg);
	background: none;
	top: 0;
}

section:nth-of-type(9) div:first-of-type {
	position: absolute;
	width: 50px;
	height: auto;
	object-fit: contain;
	transform: translate(0px, 6973px);
	background: none;
	top: 0;	
}

section:nth-of-type(9) div:nth-of-type(2) {
	position: absolute;
	width: 50px;
	height: auto;
	object-fit: contain;
	transform: translate(-150px, 7013px) scaleX(-1) rotate(5deg);
	background: none;
	top: 0;	
}

section:nth-of-type(9) div:last-of-type {
	position: absolute;
	width: 30px;
	height: auto;
	object-fit: contain;
	transform: translate(122px, 7050px) scaleX(-1);
	background: none;
	top: 0;	
}

/******************/
/* REDUCED MOTION */
/******************/

@media (prefers-reduced-motion: reduce) {
	section:first-of-type div:first-of-type svg {
		animation: none;
	}
	
	section:first-of-type div:nth-of-type(2) svg {
		transform: scale(1.5) translate(39px, 10px);
		animation: none;
	}

	header nav {
	translate: 0% -150%;
	transition: none;
}
}

/******************/
/* LOADING SCHERM */
/******************/

/* Bron: https://www.w3schools.com/howto/howto_css_loader.asp en https://dev.to/lensco825/how-to-quickly-add-a-loading-screen-onto-your-website-7ga, wel zelf aanpassingen gemaakt */

main > ul {
	background-color: var(--color-background);
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;
    margin: 0;
}

.loading {
	border: 16px solid var(--color-text);
	border-top: 16px solid yellow;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
    position: absolute;
    z-index: 100;
    margin-left: 6em;
    margin-top: -30em;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
	font-family: "fatfrank", sans-serif;
	font-weight: 400;
	font-size: 3rem;
	font-style: normal;
	text-transform: uppercase;
	text-align: center;
}

h2 {
	font-family: "fatfrank", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;
}

h3 {
	font-family: "fatfrank", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;
}

p {
	font-family: "mozaic-geo-variable", sans-serif;
	font-variation-settings: "wght" 300;
}

strong {
	font-variation-settings: "wght" 500;
}

a {
	font-family: "fatfrank", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--white);
	background-color: var(--color-text);
	padding: 1em 2em;
	border-radius: 15px;
}

button {
	background-color: var(--lime);
	width: 100%;
	padding: 1.5em 2em;
	font-family: "fatfrank", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1em;
	text-transform: uppercase;
	border: none;
	border-radius: 15px;
}

label {
	justify-self: start;
	font-family: "mozaic-geo-variable", sans-serif;
    font-variation-settings: "wght" 500;
}

input {
	justify-self: start;
	margin-top: 1em;
	margin-bottom: 2em;
	width: 100%;
    height: 3rem;
	border-radius: 15px;
}

section p {
	margin-top: -1rem;
}

section:first-of-type {
	display: grid;
	justify-content: center;
	gap: 1rem;
	text-align: center;
}

section:first-of-type h1 {
	margin-block-end: 0;
	font-size: 3rem;
	line-height: 1em;
}

section:first-of-type h1:nth-of-type(2) {
	margin-block-start: 0;
	margin-top: -17px;
}

section:first-of-type p {
	font-size: 1.25rem;
	margin-top: 2rem;
	font-variation-settings: "wght" 200;
}

section:nth-of-type(2) {
	margin: 0 2em;
}

section:nth-of-type(2) {
	justify-items: start;
}

section:nth-of-type(2) h2:first-of-type {
	margin-top: 2rem;
	margin-bottom: 0;
}

section:nth-of-type(2) h2:nth-of-type(2) {
	font-size: 2.5rem;
	margin-top: 1rem;
}

section:nth-of-type(2) > p:first-of-type {
	text-align: start;
}

section:nth-of-type(2) p:nth-of-type(2) {
	font-style: italic;
	font-size: 1.2rem;
	font-variation-settings: "wght" 200;
	margin-top: 1rem;
}

section:nth-of-type(2) ul {
	list-style-type: none;
	display: flex;
	gap: 2rem;
	margin: 0;
	padding: 0;
	align-items: center;
}

section:nth-of-type(2) h3 {
	font-size: 1.5em;
	text-align: center;
}

section:nth-of-type(2) p {
	text-align: center;
}

section:nth-of-type(2) ul img {
	width: 5rem;
	height: auto;
	object-fit: cover;
	border-radius: 15px;
	aspect-ratio: 1 / 1;
}

section:first-of-type a {
	display: flex;
	justify-content: center;
	gap: 10px;
}

section:first-of-type img {
	width: 16px;
	object-fit: contain;
}

section:first-of-type a:first-of-type {
	color: var(--color-text);
	background-color: var(--white);
	padding: 1em 2em;
	border-radius: 15px;
	border: 2px solid var(--color-text);
}

section:nth-of-type(3) {
	margin-top: 3rem;
}

section:nth-of-type(3) h2 {
	font-size: 12vw;
	text-align: center;
}

section:nth-of-type(3) h3 {
	font-size: 1.75em;
}

section:nth-of-type(3) p {
	margin-top: -2rem;
	font-size: 1.2rem;
}

section:nth-of-type(3) h3 {
	margin-bottom: 5rem;
}

section:nth-of-type(3) a {
	background-color: var(--lime);
	color: var(--color-text)
}

section:nth-of-type(4) {
	justify-items: start;
	margin-top: 10rem;
}

section:nth-of-type(4) h2 {
	text-align: start;
}

section:nth-of-type(4) h2:first-of-type {
	margin-top: 3rem;
}

section:nth-of-type(4) h2:nth-of-type(2) {
	margin-top: -1rem;
	font-size: 2.5rem;
}

section:nth-of-type(4) img {
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border-radius: 15px;
	width: 100%;
}

section:nth-of-type(4) .BtnPijl > img {
	aspect-ratio: inherit;
}

.carousel {
	display: flex;
	list-style-type: none;
	gap: 1em;
	width: 100%;
	padding-left: 0;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	overscroll-behavior-x: contain;
}

.carousel-li {
	padding: 1em;
	background-color: var(--white);
	border-radius: 15px;
	height: 100%;
}

.carousel-li img {
	width: 300px;
}

.carousel-li h3 {
	font-size: 2.25rem;
}

.carousel-li p {
	font-size: 1rem;
	font-style: italic;
	font-weight: 200;
}

section:nth-of-type(5) {
	margin-top: 10rem;
}

section:nth-of-type(5) h3:first-of-type {
	font-size: 1.25rem;
}

section:nth-of-type(5) p {
	font-style: italic;
	text-align: center;
}

.carousel::scroll-button(*) {
	width: 60px;
	height: 60px;
	font-size: 1.5rem;
	background-color: var(--lime);
	color: var(--color-text);
	border-radius: 13px;
	border: none;
	position: absolute;
	transform: translate(120px, 780px);
}

.carousel::scroll-button(right) {
	content: '→' / 'Next';
}

.carousel::scroll-button(left) {
	content: '←' / 'Previous';
	transform: translate(50px, 780px);
}

section:nth-of-type(7) ul::scroll-button(*) {
	transform: translate(120px, 600px);	
}

section:nth-of-type(7) ul::scroll-button(left) {
	transform: translate(50px, 600px);		
}

section:nth-of-type(6) h2 {
	font-size: 3rem;
	margin-top: 4em;
	text-align: center;
}

section:nth-of-type(6) p:nth-of-type(2) {
	font-size: .75rem;
}

section:nth-of-type(6) p:nth-of-type(2) a {
	background-color: inherit;
	color: black;
	font-family: "mozaic-geo-variable", sans-serif;
	font-variation-settings: "wght" 500;
	text-decoration: underline;
	text-transform: none;
	padding: 0;
}

section:nth-of-type(6) .carousel p {
	font-style: normal;
}

section:nth-of-type(6) li:first-of-type {
	background: linear-gradient(180deg,rgba(50,209,111,.5),#32d16f);
}

section:nth-of-type(6) li:nth-of-type(2) {
	background: linear-gradient(180deg,rgba(106,204,255,.5),#6accff);
}

section:nth-of-type(6) li:nth-of-type(3) {
	background: linear-gradient(180deg,rgba(255,105,196,.05),#ff69c4);
}

section:nth-of-type(6) .carousel::scroll-button(*) {
	transform: translate(120px, 1050px);
}

section:nth-of-type(6) .carousel::scroll-button(left) {
	transform: translate(50px, 1050px);
}

section:nth-of-type(7) {
	margin-top: 10rem;
	justify-items: start;
}

section:nth-of-type(7) > h2:first-of-type {
	font-size: 1.5rem;
	margin-block-end: 0;
}

section:nth-of-type(7) > h2:last-of-type {
	font-size: 2.5rem;
	margin-block-start: 1rem;
}

section:nth-of-type(7) > p {
	font-size: 1.25em;
    font-variation-settings: "wght" 200;
}

section:nth-of-type(7) img {
	border-radius: 15px;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}

section:nth-of-type(8) .carousel::scroll-button(*) {
	transform: translate(120px, 610px);
}

section:nth-of-type(8) .carousel::scroll-button(left) {
	transform: translate(50px, 610px);
}

section:nth-of-type(9) {
	margin-top: 5rem;
}

section:nth-of-type(9) h3 {
	font-size: 3rem;
	text-align: center;
}

section:nth-of-type(9) p {
	text-align: center;
	font-size: 1.25rem;
}

section:nth-of-type(9) a {
	background-color: var(--lime);
	color: var(--color-text);
	margin-top: 2rem;
	margin-bottom: 15rem;
}

.sterren {
	display: flex;
	gap: 5px;
	padding: 0;
	margin-bottom: -1em;
}

.sterren img {
	width: 30px;
}

img {
	width: 90%;
}

video {
	width: 100%;
	margin: 5em 0 0em 0;
	border-radius: 15px;
}

.BtnPijl {
	font-family: "mozaic-geo-variable", sans-serif;
	font-variation-settings: "wght" 500;
	text-transform: none;
	background-color: inherit;
	color: var(--color-text);
	padding: 0;
}

.BtnPijl:hover {
	text-decoration: underline;
}

.BtnPijl > img {
	width: 20px !important;
	height: auto !important;
	margin-left: .2em;
	aspect-ratio: inherit;
}

#BtnLinks {
    position: absolute;
	transform: translate(1em, -3.5em);
	width: 60px;
	height: 60px;
	font-size: revert;
	background-color: var(--lime);
	border-radius: 13px;
	border: none;
	padding: 1em;
	content: '←' / 'Previous';
}

#BtnRechts {
    position: absolute;
	transform: translate(6em, -3.5em);
	width: 60px;
	height: 60px;
	font-size: revert;
	background-color: var(--lime);
	border-radius: 13px;
	border: none;
	padding: 1em;
	content: '→' / 'Next';
}

ul > button {
	scroll-target-group: auto;
}

i:first-of-type{
	color: var(--color-text);
}

i, .fa {
	color: var(--white);
}

footer {
	background-color: var(--color-footer);
	color: var(--white);
	padding: 0 1rem;
}

footer h2:nth-of-type(2) {
	margin-top: 3em;
}

footer img:first-of-type {
	width: 200px;
	padding-top: 5em;
}

footer img:nth-of-type(2) {
	width: 40%;
	margin-top: 3em;
}

footer p {
	font-variation-settings: "wght" 200;
}

footer p:first-of-type, footer p:nth-of-type(2), footer p:nth-of-type(3) {
	margin: 0;
}

footer a {
	padding: 0;
	font-family: "mozaic-geo-variable", sans-serif;
	text-transform: none;
	font-variation-settings: "wght" 300;
	display: block;
    background-color: inherit;
}

footer a > img {
	width: 30px !important;
	margin-right: 10px;
}

footer > a:last-of-type {
	padding-bottom: 5em;
}

footer ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: flex-start;
	padding: 0;
}

footer li > a {
	font-variation-settings: "wght" 200;
}

footer ul li {
	list-style-type: none;
}

footer ul a {
	color: var(--white);
	text-decoration: none;
}

footer ul:nth-of-type(2) {
	display: grid;
	grid-template-columns: 50% 1fr;
	width: 100%;
	gap: 0;
	justify-content: space-between;
}

footer ul:nth-of-type(2) li:first-of-type {
	order: 1;
	grid-column: 1 / 2;
	grid-row: 1;
}

footer ul:nth-of-type(2) p {
	font-size: 0.75em;
}

footer ul:nth-of-type(2) i {
	width: 40px;
	color: var(--white);
}

footer ul > ul {
	display: flex;
	grid-column: 2 / 3;
	grid-row: 1;
	justify-content: end;
	gap: 10px;
}

footer ul > ul .fa, footer ul > ul .fa-brands {
	font-size: 25px !important;
}

/*****************/
/* TOP NAVIGATIE */
/*****************/

.navigatie-top {
	all: unset;
	display: flex;
	align-items: center;
	margin: 1em;
	gap: .5em;
}

.navigatie-top > a {
	all: unset;
    font-family: "mozaic-geo-variable", sans-serif;
    font-variation-settings: "wght" 300;
	font-size: .8rem;
}

.navigatie-top > img {
	width: 1rem;
	object-fit: contain;
}

.navigatie-top > p {
	font-size: .8rem;
}
